<span class="reading-time">
	{%include 'icon-clock'-%}
  {% assign words = content | split : " " | size %}
  {% if words < 360 %}
    1 phút đọc
  {% else %}
    {{ words | divided_by:180 }} phút đọc
  {% endif %}
</span>