<div>
    <button id="onAppWishList_btn_remove" style="display:none; font-size: 24px; color: #E91E63; width: 50px; height: 50px;  border: 1px solid #ccc; background-color: transparent;">
        <i class="fa fa-heart"></i>
    </button>
    <button id="onAppWishList_btn_add" style="display:none; font-size: 24px; color: #E91E63; width: 50px; height: 50px;  border: 1px solid #ccc; background-color: transparent;">
        <i class="fa fa-heart-o"></i>
    </button>
</div>