<div id="onAppWishList_page" style="display: none" class="container">
	<div class="main_content_bottom">
		<div class="main_content_left">
			<div class="heading-bar">
				<h1 class="title_page">{{ page_title }}</h1>
			</div>
			{%comment%}
			<div class="col-md-4 text-right">
				<button style="margin-top:20px; margin-bottom: 10px" id="onAppWishList_removeAll" class="btn btn-danger">
					Xóa tất cả
				</button>
			</div>
			{% endcomment %}
			<div class="wish-list row product-list content-col"></div>
			<div class="recommend hidden">
				<h4>
					Có thể bạn quan tâm
				</h4>
				<div class="">

				</div>
			</div>
		</div>
	</div>
	<div id="onAppWishList_nextPageWishList">
		<button id="nextPageWishList" class="col-md-12 btn btn-info">xem thêm</button>
	</div>
</div>
