{% layout  none  -%}
{% if search.results_count > 0 -%}
{% for product in search.results -%}
<div class="product-col item">
	<div class="item_product_main">
		{% include 'product_grid_office' -%}
	</div>
</div>
{% endfor -%}
{% endif -%}